<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Researcher Job Application</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Apply for the AI Researcher Position</h1>
        <form id="cv-upload-form" action="/process-uploaded_cv" method="POST" enctype="multipart/form-data">
            <textarea name="job_description">
                About the job
                We are a leading shipping and logistic company in Indonesia with the forefront of AI innovation, dedicated to pushing the boundaries of technology. We seek a talented AI Researcher to join our team and contribute to cutting-edge projects.

                Responsibilities:
                Conduct data mining to uncover valuable insights and patterns.
                Optimize AI systems for performance and scalability.
                Collaborate with a multidisciplinary team to drive research initiatives.
                Stay updated with the latest advancements in AI and machine learning.

                Qualifications:
                Advanced degree in Computer Science, Data Science, or a related field.
                Proven experience in data mining and AI system optimization.
                Strong programming skills in Python, R, or similar languages.
                Excellent problem-solving and analytical abilities.
                Willing to be placed in Surabaya.
            </textarea>

            <label for="resume">Upload your CV (PDF):</label><br>
            <input type="file" id="resume" name="file" accept=".pdf" required><br><br>
            <span id="file-name"></span><br><br>

            <input type="submit" value="Submit Application" class="submit-btn">
        </form>

        <h2>Rank Applicants</h2>
        <button id="rank-applicants-btn" class="submit-btn">Rank Applicants</button>
        <div id="ranking-results"></div> <!-- This div will display the ranking results -->
    </div>

    <script src="static/scripts.js"></script>
</body>
</html>
